header {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  height: 70px;
  z-index: 20; }

.header__logo {
  float: right;
  height: 30px;
  margin: 20px -5px 15px 40px; }

nav {
  background-color: white;
  height: 70px; }

#menuToggle {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 25px;
  left: 25px; }
  #menuToggle input {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2; }
    #menuToggle input:checked ~ span {
      opacity: 1;
      transform: rotate(45deg) translate(-3px, -1px);
      background: #36383F; }
    #menuToggle input:checked ~ span:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2); }
    #menuToggle input:checked ~ span:nth-last-child(2) {
      transform: rotate(-45deg) translate(0, -1px); }
    #menuToggle input:checked ~ ul {
      transform: none; }
  #menuToggle span {
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: black;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }
    #menuToggle span:first-child {
      transform-origin: 0% 0%; }
    #menuToggle span:nth-last-child(2) {
      transform-origin: 0% 100%; }

#menu {
  position: absolute;
  width: 60vw;
  height: 150vh;
  box-shadow: 0 0 10px #85888C;
  margin: -50px 0 0 -50px;
  padding-top: 100px;
  background-color: white;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  list-style: none; }
  #menu li {
    padding: 10px 0; }
    #menu li a {
      display: block;
      color: black;
      text-align: center;
      margin-left: 20px;
      padding: 15px 30px 15px 30px;
      text-decoration: none; }

.active {
  color: #adadad !important; }

@media only screen and (min-width: 900px) {
  .header__logo {
    float: left;
    height: 30px;
    margin: 20px -5px 15px 40px; }
  #menuToggle {
    display: block;
    top: 0; }
    #menuToggle input {
      display: none; }
    #menuToggle span {
      display: none; }
  #menu {
    display: flex;
    justify-content: space-around;
    right: 0;
    width: 70vw;
    height: 50px;
    list-style: none;
    overflow: hidden;
    box-shadow: none;
    margin: 0;
    padding: 10px 0;
    padding-top: 0;
    background-color: white;
    transform-origin: none;
    transform: none;
    transition: none;
    list-style: none; }
    #menu li {
      padding: 0;
      margin-top: 10px; }
      #menu li a {
        display: block;
        color: black;
        text-align: center;
        margin: 5px;
        padding: 10px;
        text-decoration: none; }
        #menu li a:hover {
          color: #adadad; }
  .active {
    color: #adadad; } }

footer {
  background-color: white;
  bottom: 0;
  width: 100%;
  margin-top: auto; }

.footer-links {
  margin-bottom: 20px; }
  .footer-links a {
    display: inline-block;
    margin: 10px;
    color: black;
    text-decoration: none; }
    .footer-links a:hover {
      color: #adadad; }

.active-link {
  color: #adadad !important; }

.footer-section {
  text-align: center;
  padding: 25px 0; }

/* Contacto */
.contact-form {
  background-color: #ececec;
  padding: 50px;
  display: flex;
  justify-content: center;
  vertical-align: middle; }
  .contact-form h1 {
    text-align: center;
    margin-bottom: 30px; }

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical; }

textarea {
  height: 200px; }

input[type=submit] {
  background-color: #adadad;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer; }
  input[type=submit]:hover {
    color: white;
    background-color: #0a6b27; }

.contacto__botonenviar {
  display: flex;
  justify-content: center;
  vertical-align: middle; }

.carousel {
  position: relative;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
  margin-top: 20px; }

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 60vw; }

@media only screen and (min-width: 900px) {
  .carousel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin: 3vh 20vw; }
  .carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 500px; } }

.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100; }

.carousel-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out; }
  .carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
    object-fit: contain; }

.carousel-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10; }
  .carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa; }

.carousel-control.prev {
  left: 2%; }

.carousel-control.next {
  right: 2%; }

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
  display: block; }

.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10; }
  .carousel-indicators li {
    display: inline-block;
    margin: 0 5px; }

.carousel-bullet {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 35px; }
  .carousel-bullet:hover {
    color: #aaaaaa; }

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
  color: #428bca; }

* {
  font-family: 'Monserrat', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  margin-top: 70px;
  color: black;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

.bkgd-img, .inicio__bkgd-img1, .eventos__bkgd-img1, .eventos__bkgd-img2, .ryc__bkgd-img1, .ryc__bkgd-img2, .nosotros__bkgd-img1, .nosotros__bkgd-img2 {
  min-height: 50vh;
  background-position: center;
  background-size: cover; }

.inicio__logo {
  margin-top: -10%;
  width: 100%;
  object-fit: contain; }

.inicio__bkgd-img1 {
  background-image: url("../assets/fondo.jpg"); }

.inicio__card-deck {
  margin-top: -20vh;
  margin-bottom: 5vh; }

.inicio__card, .inicio__card-1, .inicio__card-2, .inicio__card-3 {
  margin: 60px auto;
  width: 80%;
  height: 50vh;
  border-radius: 5%;
  box-shadow: 0px 30px 40px -20px;
  background-size: cover; }

.inicio__card-1 {
  background-image: url("../assets/card1.jpg");
  background-position-x: 70%; }

.inicio__card-2 {
  background-image: url("../assets/card2.jpg");
  background-position: center; }

.inicio__card-3 {
  background-image: url("../assets/card3.jpg");
  background-position-x: 70%; }

@media only screen and (min-width: 900px) {
  .inicio__logo {
    margin-top: -8%;
    width: 80%; }
  .inicio__card-deck {
    margin-top: -30vh;
    margin-bottom: 10vh;
    justify-content: space-evenly; }
  .inicio__card, .inicio__card-1, .inicio__card-2, .inicio__card-3 {
    max-width: 25%;
    height: 65vh;
    position: relative;
    transition: all .5s ease-in-out; }
    .inicio__card h2, .inicio__card-1 h2, .inicio__card-2 h2, .inicio__card-3 h2 {
      font-size: 25px; }
    .inicio__card:hover, .inicio__card-1:hover, .inicio__card-2:hover, .inicio__card-3:hover {
      top: -20px; } }

.eventos__bkgd-img1 {
  background-image: url("../assets/armour7bn.jpeg"); }

.eventos__bkgd-img2 {
  background-image: url("../assets/novios.jpg");
  background-position-x: 80%; }

.ryc__bkgd-img1 {
  background-image: url("../assets/restbn.jpg");
  background-position-x: 80%; }

.ryc__bkgd-img2 {
  background-image: url("../assets/cafe2.jpg");
  background-position: bottom; }

.nosotros__bkgd-img1 {
  background-image: url("../assets/armour2.jpg");
  background-position-x: 80%; }

.nosotros__bkgd-img2 {
  background-image: url("../assets/barra.jpg");
  background-position: top; }

@media only screen and (min-width: 900px) {
  .parallax, .inicio__bkgd-img1, .eventos__bkgd-img1, .eventos__bkgd-img2, .ryc__bkgd-img1, .ryc__bkgd-img2, .nosotros__bkgd-img1, .nosotros__bkgd-img2 {
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 90vh; } }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.aparecer {
  animation: aparecer 1s ease-in-out; }

.mapouter {
  position: relative;
  margin: 3vh 0;
  text-align: right;
  width: 100%;
  height: 30vh; }

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  width: 100%;
  height: 30vh; }

.gmap_iframe {
  width: 100%;
  height: 30vh !important; }

@media only screen and (min-width: 900px) {
  .mapouter {
    height: 60vh; }
  .gmap_canvas {
    height: 60vh; }
  .gmap_iframe {
    height: 60vh !important; } }

.whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 50px;
  right: 20px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100; }

.whatsapp-icon {
  margin-top: 9px;
  width: 40px; }

@media only screen and (min-width: 900px) {
  .whatsapp {
    bottom: 60px;
    right: 40px; } }

.bg-sec {
  background-color: black; }

@media only screen and (min-width: 900px) {
  .vh80 {
    min-height: 80vh; } }
