
footer {
    background-color: white;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}

.footer-links{
    margin-bottom: 20px;
}

.footer-links a {
    display: inline-block;
    margin: 10px;
    color: black;
    text-decoration: none;
}

.active-link {
    color: rgb(133, 133, 133) !important
}

.footer-section {
    text-align: center;
    padding: 25px 0;
}