header{
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    height: 70px;
}

.header__logo{
    float: right;
    height: 30px;
    margin: 20px -5px 15px 40px;
} 

nav {
    background-color: white;
    height: 70px;
}

#menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 25px;
    left: 25px;
}

#menuToggle input
{
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

#menuToggle span
{
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #000000;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
}

#menuToggle span:first-child
{
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2){
    transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: #36383F;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
    transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
    position: absolute;
    width: 60vw;
    height: 100vh;
    box-shadow: 0 0 10px #85888C;
    margin: -50px 0 0 -50px;
    padding-top: 100px;
    background-color: #ffffff;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    list-style: none;
}

#menu li
{
    padding: 10px 0;
}

#menu li a {
    display: block;
    color: black;
    text-align: center;
    margin-left: 20px;
    padding: 15px 30px 15px 30px;
    text-decoration: none;
}

#menuToggle input:checked ~ ul
{
    transform: none;
}

.active {
    color: gray !important;
}

@media only screen and (min-width: 900px) {
    .header__logo{
        float: left;
        height: 30px;
        margin: 20px -5px 15px 40px;
    } 
    
    #menuToggle
    {
        display: block;
        top: 0;
    }

    #menuToggle input
    {
        display: none;
    }
    
    #menuToggle span
    {
        display: none;
    }
    
    #menu
    {
        display: flex;
        justify-content: space-around;
        right: 0;
        width: 70vw;
        height: 50px;
        list-style: none;
        overflow: hidden;
        box-shadow: none;
        margin: 0;
        padding: 10px 0;
        padding-top: 0;
        background-color: white;
        transform-origin: none;
        transform: none;
        transition: none;
        list-style: none;
    }
    
    #menu li {
        padding : 0;
        margin-top: 10px;
    }
    
    #menu li a {
        display: block;
        color: black;
        text-align: center;
        margin: 5px;
        padding: 10px;
        text-decoration: none;
    }

    #menu li a:hover{
        background-color: rgb(228, 228, 228);
        border-radius: 12px;
    }

    .active {
        background-color: white !important; 
    }
}