@import 'variables';
@import 'header-nav';
@import 'footer';
@import 'contacto';

* {
    font-family: 'Monserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin-top: 70px;
    color: black;
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.flex-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media only screen and (min-width: 900px) {
    .flex-container
    {
        padding: 30px;
        flex-wrap: nowrap;
    }
}

.inicio__grid
{
    display: grid;
    grid-template-columns: repeat(1, auto);
    align-content: stretch;
    gap: 10px;
    padding: 0.5vw;
    margin-top: 5vh;
}

.primera-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: aparecer 2s ease-out;
}

.logo{
    margin: 20px 0;
    width: 50vw;
    object-fit: cover;
    animation: aparecer 2s ease-out;
}

.ryc__logo{
    margin: 30px 0 10px 0;
    width: 50%;
    object-fit: cover;
    animation: aparecer 2s ease-out;
}

.primera-info{
    display: inline-block;
    padding: 15px 30px 25px 30px;
    font-size: large;
}

@media only screen and (min-width: 900px) {
    .primera-img{
        justify-content: center;
        height: 70vh;
        object-fit: cover;
        object-position: 0 -20vh;
        animation: aparecer 2s ease-out;
    }

    .logo{
        margin: 100px 100px;
        width: 50vw;
        object-fit: cover;
        animation: aparecer 2s ease-out;
    }
    
    .ryc__logo{
        margin: 100px 100px;
        width: 50%;
        object-fit: cover;
        animation: aparecer 2s ease-out;
    }
    
    .primera-info{
        margin: auto;
        display: inline-block;
        padding: 15px 30px 25px 30px;
        font-size: large;
        font-size:x-large;
    }
}
.eventos__grid
{
    display: grid;
    grid-template-columns: repeat(1, auto);
    align-content: stretch;
    gap: 10px;
    padding: 0.5vw;
    margin-top: 5vh;
}

@keyframes aparecer {
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
}
.carousel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 20px;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 60vw;
}

@media only screen and (min-width: 900px) {
    .carousel {
        position: relative;
        box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
        margin: 3vh 20vw;
    }

    .carousel-inner {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 500px;
    }
    
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
    object-fit: contain;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}