@import 'variables';
@import 'header-nav';
@import 'footer';
@import 'contacto';
@import 'carousel';

* {
    font-family: 'Monserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin-top: 70px;
    color: black;
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.bkgd-img{
    min-height: 50vh;
    background-position: center;
    background-size: cover;
}

// Inicio

.inicio__bkgd-img1{
    @extend .bkgd-img;
    background-image: url("../assets/fondo.jpg");
}

.inicio__card-deck{
    margin-top: -40vh;
}

.inicio__card{
    margin: 60px auto;
    min-height: 50vh;
    border-radius: 3%;
    box-shadow: 0px 30px 40px -20px;
    background-size: cover;
}

.inicio__card-1{
    @extend .inicio__card;
    background-image: linear-gradient(180deg, rgba(255,255,255,1) 40%, rgba(255,255,255,0.5) 60%, rgba(255,255,255,0) 71%),url("../assets/novios.jpg");
    background-position-x: 70%;
}

.inicio__card-2{
    @extend .inicio__card;
    background-image: linear-gradient(180deg, rgba(255,255,255,1) 40%, rgba(255,255,255,0.5) 60%, rgba(255,255,255,0) 71%),url("../assets/barista.jpg");
    background-position-x: 50%;
}

.inicio__card-3{
    @extend .inicio__card;
    background-image: linear-gradient(180deg, rgba(255,255,255,1) 40%, rgba(255,255,255,0.5) 60%, rgba(255,255,255,0) 71%),url("../assets/novios.jpg");
    background-position-x: 70%;
}

//Eventos

.eventos__bkgd-img1{
    @extend .bkgd-img;
    background-image: url("../assets/armour7bn.jpeg");
}

.eventos__bkgd-img2{
    @extend .bkgd-img;
    background-image: url("../assets/novios.jpg");
    background-position-x: 80%;
}

//Ryc

.ryc__bkgd-img1{
    @extend .bkgd-img;
    background-image: url("../assets/restbn.jpg");
    background-position-x: 80%;
}

.ryc__bkgd-img2{
    @extend .bkgd-img;
    background-image: url("../assets/cafe2.jpg");
    background-position: bottom;
}

@media only screen and (min-width: 900px) {
    .parallax {
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

    .inicio__bkgd-img1{
        @extend .parallax;
        min-height: 90vh;
    }

    .eventos__bkgd-img1{
        @extend .parallax;
        min-height: 90vh;
    }

    .eventos__bkgd-img2{
        @extend .parallax;
        min-height: 90vh;
    }
}

@keyframes aparecer {
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
}

.mapouter {
    position:relative;
    margin: 3vh 0;
    text-align:right;
    width:100%;
    height:30vh;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    width:100%;
    height:30vh;
}

.gmap_iframe {
    width: 100%; 
    height: 30vh!important;
}


.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:50px;
    right:20px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
}

.whatsapp-icon {
    margin-top: 9px;
    width: 40px;
}

@media only screen and (min-width: 900px) {
    .whatsapp {
        bottom:60px;
        right:40px;
    }
}